{% extends "base_generic.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block searchbar %}{% endblock %}


{% block content %}

<div class="min-h-screen flex  justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">

    <div class="max-w-md w-full space-y-8">

        <!--LOGIN - TÍTULO-->
        <div>
            <h2 class="mt-4 text-center text-2xl font-extrabold text-gray-900">
                Entre na sua conta
            </h2>
        </div>
        <!--FORMULAŔIO LOGIN-->
        <form class="mt-8 space-y-6" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <!--NOME USUARIO-->
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="username" class="sr-only">Username</label>
                    <input id="username" name="{{ form.username.name }}"
                           type="text"
                           required
                           class=" mb-4 appearance-none relative block w-full px-3 py-2
                 border border-gray-300 placeholder-gray-500 text-gray-900
                 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Nome de usuário">
                </div>
                <!--SENHA USUARIO-->
                <div>
                    <label for="password"
                           class="sr-only">Password</label>
                    <input id="password"
                           name="{{ form.password.name }}"
                           type="password"
                           required
                           class="appearance-none  relative block w-full px-3 py-2 border
                 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none
                 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm rounded-md"
                           placeholder="Senha">
                </div>

            </div>

            <!--TRATATIVA DE ERROS-->
            {% if form.errors %}
            <p class="text-red-500 text-xs mt-2">Seu nome de usuário e senha não correspondem. Por favor, tente
                novamente.</p>
            {% endif %}

            <!--BOTÃO ENTRAR-->
            <div>
                <button type="submit"
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent
                text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none
                focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 ">
                    Entrar
                </button>
            </div>
        </form>

        <!--CRIAR CONTA-->
        <a href="{% url 'register' %}"
           class=" ">
            Ainda não é cadastrado? &nbsp;
            <span
            class="font-extrabold">
                 Cadastre agora!
            </span>
        </a>
        <br>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        <br>

        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>

        <!--ESQUECEU SENHA-->
        <p class=" text-center text-sm text-gray-600">
            <a href="{% url 'password_reset' %}"
               class="font-medium text-indigo-600 hover:text-indigo-500">
                Esqueceu sua senha?
            </a>
        </p>


    </div>

</div>
{% endblock %}