{% extends "base_generic.html" %}
{% block searchbar %}{% endblock %}
{% block content %}
<div class="min-h-screen flex justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="mt-4 text-center text-2xl font-extrabold text-gray-900">
                Redefinição de senha
            </h2>
        </div>
        {% if validlink %}
            <form class="mt-8 space-y-6" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="text-red-500 text-xs italic">Por favor, corrija os erros abaixo:</p>
                    {{ form.errors }}
                {% endif %}
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="id_new_password1" class="sr-only">Nova senha</label>
                        <input id="id_new_password1" name="{{ form.new_password1.name }}" type="password" required
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                               placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500
                               focus:border-indigo-500 focus:z-10 sm:text-sm"
                               placeholder="Nova senha">
                    </div>
                    <div>
                        <label for="id_new_password2" class="sr-only">Confirmar senha</label>
                        <input id="id_new_password2"
                               name="{{ form.new_password2.name }}"
                               type="password"
                               required
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                               placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500
                               focus:border-indigo-500 focus:z-10 sm:text-sm"
                               placeholder="Confirmar senha">
                    </div>
                </div>
                <div>
                    <button type="submit"
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent
                            text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none
                            focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Redefinir senha
                    </button>
                </div>
            </form>
        {% else %}
            <div>
                <p class="mt-2 text-center text-sm text-gray-600">
                    O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

