{% extends "base_generic.html" %}
{% block searchbar %}{% endblock %}
{% block content %}
<div class="min-h-screen flex justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="mt-4 text-center text-2xl font-extrabold text-gray-900">
                Redefinição de senha concluída
            </h2>
        </div>
        <div>
            <p class="mt-2 text-center text-sm text-gray-600">
                Sua senha foi redefinida com sucesso.
            </p>
            <p class="mt-2 text-center text-sm text-gray-600">
                <a href="{% url 'login' %}"
                   class="font-medium text-indigo-600 hover:text-indigo-500">
                    Clique aqui para fazer login
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}