<!DOCTYPE html>
<html lang="en">
<head>

    <!--TITLE-->
    {% block title %}
    <title>Beeblius</title>
    {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--TAILWINDCSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}"/>

    <!--VUEJS-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


</head>
<body id="app">
<div class="h-screen flex flex-col">


    <!--HEADER-->
    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}


    <div class="flex flex-grow">

        <!--MENU-->
        {% block sidebar %}
        {% include 'base/menu.html' %}
        {% endblock %}


        <!--MAIN-->
        <div id="main"
             class="w-full p-4">

            <!--SEARCHBAR-->
            {% block searchbar %}
            {% include 'base/searchbar.html' %}
            {% endblock %}

            <!--CONTENT-->
            {% block content %}
            {% endblock %}

            <!--PAGINATION-->
            {% block pagination %}
            {% include 'base/pagination.html' %}
            {% endblock %}
        </div>

    </div>

    <!--FOOTER-->
    {% block footer %}
    {% include 'base/footer.html' %}
    {% endblock %}

</div>

   <!--SCRIPT-->
    <script src="{% static 'js/app.js' %}"></script>


</body>
</html>
