<div id="header" class="border border-black p-3 md:p-4 lg:p-6 flex items-center justify-between">

    <button
            id="toggle-menu"

            class=" border border-black px-1 py-0.5 text-sm bg-gray-400 text-white rounded m-2"
            @click="showMenu = !showMenu"
            >


        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"/>
        </svg>

    </button>

    <div id="logo" class="text-right text-2xl font-bold underline">Beeblius - {{ msg }}</div>

</div>