<!DOCTYPE html>
<html lang="en">
<head>

    <!--TITLE-->
    {% block title %}
    <title>Início</title>
    {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--FONTE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <!--TAILWINDCSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}"/>

    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/bee.ico' %}">

    <!--VUEJS-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        /* Defina a fonte para o elemento body */
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>

</head>
<body id="app"
      class="max-w-4xl mx-auto ">


<div class=" flex flex-col">


    <!--HEADER-->
    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}


    <div class="flex flex-grow bg-gray-50">

        <!--MENU-->
        {% block sidebar %}
        {% include 'base/menu.html' %}
        {% endblock %}


        <!--MAIN-->
        <div id="main"
             class="w-full p-4 px-6 bg-gray-50">



            <!--SEARCHBAR-->
<!--            {% block searchbar %}-->
<!--            {% include 'base/searchbar.html' %}-->
<!--            {% endblock %}-->

            <!--CONTENT-->
            {% block content %}
            {% endblock %}

            <!--PAGINATION-->
            {% block pagination %}
            {% include 'base/pagination.html' %}
            {% endblock %}
        </div>

    </div>

    <!--FOOTER-->
    {% block footer %}
    {% include 'base/footer.html' %}
    {% endblock %}

</div>

<!--SCRIPT-->
<script src="{% static 'js/app.js' %}"></script>


</body>
</html>
