{% extends "base_generic.html" %}

{% block content %}

<!--SEÇÃO GÊNEROS-->
<div id="lista-generos">

    <div id="titulo-lista-genero"
         class="flex items-center justify-center pt-2 ">
        <h1 class="mr-2 inline-block font-bold text-gray-900 ">
            Explore por gêneros
        </h1>
        <a href="{% url 'genres' %}"
           class="text-xs text-blue-700 underline inline-block self-end">
            Ver todos
        </a>
    </div>

    <div class="w-full h-auto p-2 flex items-center justify-center overflow-auto">
        {% for genre in all_genres|slice:":4" %}

        <a href="{% url 'books-by-genre' genre.id %}"
           class="w-16 h-16 sm:w-24 sm:h-24 md:w-32 md:h-32 m-2 flex items-center justify-center border
           border-gray-500 rounded-lg shadow-md hover:shadow-lg transform hover:-translate-y-1
           transition-transform duration-200 ease-in-out">
            <span
                    class="text-xs sm:text-base flex items-center justify-center text-gray-700">
                {{ genre.name }}
            </span>
        </a>

        {% endfor %}
    </div>

</div>


<!--SEÇÃO NOVOS LIVROS-->
<div id=" lista-livros">

            <div id="titulo-lista-livros"
                 class="flex items-center justify-center pt-2 ">
                <h1 class="mr-2 inline-block font-bold text-gray-900">
                    Novos Livros
                </h1>
                <a href="{% url 'books' %}"
                   class="text-xs text-blue-700 underline inline-block self-end">
                    Ver todos
                </a>
            </div>

            <div class="w-full h-auto p-2 flex items-center justify-center overflow-auto">
                {% for book in last_books %}

                <a href="{% url 'book-detail' book.id %}"
                   class="w-16 h-16 sm:w-24 sm:h-24 md:w-32 md:h-32 m-2 flex items-center justify-center
           border border-gray-500 rounded-lg shadow-md hover:shadow-lg transform
           hover:-translate-y-1 transition-transform duration-200 ease-in-out">
            <span
                    class="text-xs sm:text-base flex items-center justify-center text-center text-gray-700">
                {{ book.title }}
            </span>
                </a>

                {% endfor %}
            </div>

    </div>

    {% endblock %}