{% load static %}

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
          rel="stylesheet">

    <style>
        /* Defina a fonte para o elemento body */
        #header {
            font-family: 'Raleway', sans-serif;
        }
    </style>

</head>

<div id="header"
     class=" bg-amber-300 border-b border-gray-200 p-3 md:p-4 lg:p-6 flex items-center justify-between
            ">

    <button
            id="toggle-menu"

            class=" px-1 py-0.5 text-sm bg-gray-800 text-white rounded m-2"
            @click="showMenu = !showMenu"
    >


        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-6 h-6">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"/>
        </svg>

    </button>

    <div id="logo" class="border-4 border-double border-black rounded-lg px-2">
        <a href="{% url 'index' %}">
        <span
                class="text-right text-1xl font-bold ">
            Beeblius
        </span>
            <img src="{% static 'img/bee.png' %}"
                 alt="Logo"
                 class="inline-block w-12 ">
        </a>
    </div>
    <div id="account">

        {% if user.is_authenticated %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6"
             @click="toggleDropdownAccount()">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
        </svg>
        <div v-if="showDropdownAccount"
             class="dropdown-menu bg-white border rounded shadow-lg absolute z-10 right-0">
            <ul>
                <li>
                    <a href="{% url 'my-account' %}"
                       class="block px-4 py-2 hover:bg-gray-200">
                        Minha Conta</a>
                </li>
                {% if not user.is_staff %}
                <li>
                    <a href="#"
                       class="block px-4 py-2 hover:bg-gray-200">
                        Meus Livros</a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'logout' %}?next={{ request.path }}"
                       class="block px-4 py-2 hover:bg-gray-200">
                        Sair</a>
                </li>
            </ul>
        </div>
        {% endif %}

    </div>
</div>