{% extends "base_generic.html" %}
{% block title %}
<title>Meus Livros</title>
{% endblock %}

{% block content %}

<h1 @click="toggleBorrowed">Livros Emprestados</h1>
<div v-if="showBorrowed">
    <!-- Conteúdo da seção de livros emprestados -->
    {% if bookinstance_list %}
    <ul>

        {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
            <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a> ({{ bookinst.due_back }})
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>Não há livros emprestados.</p>
    {% endif %}

</div>

<h1 @click="toggleFavorites">Meus Favoritos</h1>
<div v-if="showFavorites">
    <!-- Conteúdo da seção de livros favoritos -->
    {% if favorite_list %}
    <ul>

        {% for favorite in favorite_list %}
        <li>
            <a href="{% url 'book-detail' favorite.book.pk %}">{{ favorite.book.title }}</a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>Não há livros favoritos.</p>
    {% endif %}

</div>


<h1 @click="toggleHistory">Histórico de Empréstimos</h1>
<div v-if="showHistory">
    <!-- Conteúdo da seção de histórico de empréstimos -->
    {% if history_list %}
    <ul>

        {% for history in history_list %}
        <li>
            <a href="{% url 'book-detail' history.book.pk %}">{{ history.book.title }}</a> ({{ history.borrow_date }} - {{ history.return_date }})
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>Não há histórico de empréstimos.</p>
    {% endif %}

</div>

{% endblock %}

