{% extends "base_generic.html" %}
{% block title %}
<title>Meus Livros</title>
{% endblock %}

{% block content %}

<h1 @click="toggleBorrowed" class="cursor-pointer">Livros Emprestados</h1>
<div v-if="showBorrowed">
    {% if bookinstance_list %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for bookinst in bookinstance_list %}
        <div class="border p-4 rounded-lg shadow-lg">
            <a href="{% url 'book-detail' bookinst.book.pk %}" class="text-lg font-bold">{{ bookinst.book.title }}</a>
            <p class="text-sm text-gray-500">{{ bookinst.due_back }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Não há livros emprestados.</p>
    {% endif %}
</div>

<h1 @click="toggleFavorites" class="cursor-pointer">Meus Favoritos</h1>
<div v-if="showFavorites">
    {% if favorite_list %}
    <ul class="list-disc pl-5">
        {% for favorite in favorite_list %}
        <li class="py-1">
            <a href="{% url 'book-detail' favorite.book.pk %}" class="text-lg">{{ favorite.book.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não há livros favoritos.</p>
    {% endif %}
</div>

<h1 @click="toggleHistory" class="cursor-pointer">Histórico de Empréstimos</h1>
<div v-if="showHistory">
    {% if loaned_books %}
    <ul class="list-disc pl-5">
        {% for bookinst in loaned_books %}
        <li class="py-1">
            <a href="{% url 'book-detail' bookinst.book.pk %}" class="text-lg">{{ bookinst.book.title }}</a>
            <p class="text-sm text-gray-500">{{ bookinst.due_back }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não há histórico de empréstimos.</p>
    {% endif %}

</div>

{% endblock %}

