{% extends "base_generic.html" %}

{% block title %}
<title>Generos
</title>
{% endblock %}
{% block content %}

<h1
        class="mt-6 mb-2 text-2xl font-extrabold text-gray-900">
    {{ genre.name|capfirst }}
</h1>

{% if books %}
<ul class="space-y-4">
    {% for book in books %}
    <li class="border border-gray-300 p-4 rounded-lg shadow-lg max-w-96">
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Não há livros disponíveis para este gênero.</p>
{% endif %}
{% endblock %}